<button type="button" class="close" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>

<div class="container">
    <div class="formProduct">
        <form [formGroup]="productForm" (ngSubmit)="onSubmit(productForm.value)">
            <h3>Nombre producto</h3>
            <input type="text" placeholder="caja0010" formControlName="nombre">
            <h3>Cantidad producto</h3>
            <input type="number" placeholder="0" formControlName="cantidad">
            <h3>Descripcion producto</h3>
            <input type="text" placeholder="descripcion" formControlName="descripcion">
            <h3>Precio producto</h3>
            <input type="number" placeholder="$0.00" formControlName="precio">
            <input type="submit" value="Aceptar" class="btn btn-primary myBtn">

        </form>
    </div>

    <div class="fileProducts">

        <script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

        <div class="image-upload-wrap">
            <input class="file-upload-input" type='file' onchange="readURL(this);" accept="image/*" />
            <div class="drag-text">
                <h3>Drag and drop a file or select add Image</h3>
            </div>
        </div>
        <div class="file-upload">
            <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Add
                Image</button>
            <div class="file-upload-content">
                <img class="file-upload-image" src="#" alt="your image" />
                <div class="image-title-wrap">
                    <button type="button" onclick="removeUpload()" class="remove-image">Remove <span
                            class="image-title">Uploaded Image</span></button>
                </div>
            </div>
        </div>


    </div>

</div>