html,
body {
  background-image: url("pexels-karolina-grabowska-5632403.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Numans", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.container {
  height: 91vh;
  align-content: center;
  margin-top: auto;
  margin-bottom: auto;
}
.options{
  width: 60%;
}
.o{
  margin-left: auto;
  margin-right: initial;
}
.myBtn {
  margin-right: auto;
  margin-left: auto;
  width: 35%;
}
.table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 99%;
}
.bodyT {
  border: 1px solid #dddddd;
  padding: 5px;
  text-align: center;
  color: white;  
}
.cantidad{
  width: 10% ;
}
.columna{
  padding: 8px;
  text-align: center;
}

.contenedor {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.card {
  height: 75vh;
  margin-top: auto;
  margin-bottom: auto;
  width: 200vh;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.text {
  color: #ffffff;
  width: 20%;
  height: 10%;
  margin-left: auto;
  margin-right: auto;
}

.card-header h3 {
  color: white;
  align-items: center;
}
.card-body {
  color: white;
  align-items: center;
  overflow: hidden;
  overflow-y: scroll;
}