.container {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.divClose {
  width: 100%;
}

.divForm {
  text-align: left;
}
input {
  width: 100%;
}

.myBtn {
  margin-right: auto;
  margin-left: auto;
  width: 25%;
}

.title {
  background-color: black;
  text-align: center;
}

h2 {
  margin-left: auto;
  margin-right: auto;
  color: white;
}
