<div class="container">
  <h2 mat-dialog-title>Buscar</h2>
</div>
<div class="listado" mat-dialog-content>
  
  <h3>Folio</h3>
  <input type="text" id="folio" value="{{data.folio}}">
  <h3>Descripcion</h3>
  <input type="text" id="descripcion" value="{{data.descripcion}}">
  <h3>Costo</h3>
  <input type="number" id="costo" value="{{data.costo}}">
  <h3>Cantidad</h3>
  <input type="number" id="cantidad" value="{{data.cantidad}}">

</div>

<div mat-dialog-actions>
  <button class="btn btn-danger myBtn" (click)="deleteProduct(data.id)">Borrar</button>
  <button class="btn btn-primary myBtn" (click)="updateProduct()">actualizar</button>
  <button class="btn btn-success myBtn" [mat-dialog-close]="true">Aceptar</button>
</div>